body {
    margin: 0;
}

video {
    position: fixed;
    width: auto;
    height: auto;
}

div {
    position: absolute;
    top: 25%;
    left: 35%;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 50px;
    min-width: 400px;
    height: 300px;
}

input {
    width: 320px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: white;
    border: none;
    outline: none;
}

input:focus {
    outline: none;
    color: whitesmoke;
    background-color: rgb(70, 130, 180, 0.35);
}

button {
    border-radius: 5px;
    color: white;
    background-color: #AF66F2;
    border: none;
    width: 60px;
    height: 30px;
    cursor: pointer;
    margin: 10px;
    margin-right: 20px;
}